h1,
span {
    font-family: raleway;
}

h1 {
    font-size: 96px;
}

section {
    height: 100dvh;
    width: 100%;
    background-image: url(../assets/img/1_hero/jpg/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}