<section>
        <a href="#top">
        <img src="img/5_section_footer/png/sakura_ramen_logo_and_text.png" alt="Sakura logo and text">
        </a>
        <div class="link-wrapper">
            <nav>
                <img src="img/5_section_footer/png/tripadvisor_logo.png" alt="Trip Advisor logo">
            </nav>
            <nav>
                <img src="img/5_section_footer/png/facebook_logo.png" alt="facebook logo">
            </nav>
            <nav>
                <img src="img/5_section_footer/png/instagrram_logo.png" alt="Instagram logo">
            </nav>
            <nav id="impring">
                <a href="imprinttest" id="imprint" class="rw-reg-txt">Impressum</a>
            </nav>
        </div>
</section>