section {
    display: flex;
    flex-direction: column;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin: 8px 0 64px;

        >img {
            height: 24px;
        }
    }
}

iframe {
    height: 500px;
}