<section>
  <h2>FIND US AT</h2>
  <div>
    <img src="img/4_section_find_us_at/png/map_marker.png" alt="position marker" />
    <span class="rw-reg-txt">Kapuzinerstraße 31, München, 80337</span>
  </div>
  <iframe
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1883.1729898916537!2d11.559888440260226!3d48.12549693377715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479ddf005672188d%3A0x3887f00928415e45!2sSakura%20Ramen!5e0!3m2!1sde!2sat!4v1725719651740!5m2!1sde!2sat"
  ></iframe>
</section>
