<section>
<h2>OUR MENU</h2>

<div class="main-wrapper">
    <div class="single-wrapper">
    <img src="img/3_section_our_menu/png/r1.png" alt="Tokotsu Ramen">
    <table>
        <tr>
            <th class="eco-header-txt">Tonkotsu Ramen</th>
        </tr>
        <tr>
            <td>CHICKEN</td>
            <td>11.95 €</td>
        </tr>
        <tr>
            <td>BEEF</td>
            <td>12.95 €</td>
        </tr>
        <tr>
            <td>SHRIMP</td>
            <td>13.95 €</td>
        </tr>
    </table>
    </div>
    <div class="single-wrapper">
    <img src="img/3_section_our_menu/png/r2.png" alt="Spicy Miso Ramen">
    <table>
        <tr>
            <th class="eco-header-txt">Spicy Miso Ramen</th>
        </tr>
        <tr>
            <td>CHICKEN</td>
            <td>11.95 €</td>
        </tr>
        <tr>
            <td>BEEF</td>
            <td>12.95 €</td>
        </tr>
        <tr>
            <td>SHRIMP</td>
            <td>13.95 €</td>
        </tr>
    </table>
    </div>
    <div class="single-wrapper">
    <img src="img/3_section_our_menu/png/r3.png" alt="Shio Ramen">
    <table>
        <tr>
            <th class="eco-header-txt">Shio Ramen</th>
        </tr>
        <tr>
            <td>CHICKEN</td>
            <td>11.95 €</td>
        </tr>
        <tr>
            <td>BEEF</td>
            <td>12.95 €</td>
        </tr>
        <tr>
            <td>SHRIMP</td>
            <td>13.95 €</td>
        </tr>
    </table>
    </div>
</div>
</section>