

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
$H2-text-col: #9F0908;
}


@font-face {
    font-family: raleway;
    src: url(../public/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: economica-bold;
    src: url(../public/fonts/Economica-Bold.ttf);
}

@font-face {
    font-family: economica-regular;
    src: url(../public/fonts/Economica-Regular.ttf);
}


.rw-reg-txt {
    font-family: raleway;
    font-size: 24px;
}
