<section>
<h2>HOW TO ORDER</h2>
 <div class="wrapper">
    <div class="img-text-wrapper flex-ctr-ctr">
        <img src="img/2_section_how_to_order/png/noodle.png" alt="">
        <span class="eco-header-txt">Pick your noodle</span>
    </div>
    <div class="img-text-wrapper flex-ctr-ctr">
        <img src="img/2_section_how_to_order/png/broth.png" alt="">
        <span class="eco-header-txt">Pick your broth</span>
    </div>
    <div class="img-text-wrapper flex-ctr-ctr">
        <img src="img/2_section_how_to_order/png/egg.png" alt="">
        <span class="eco-header-txt">Add your toppings</span>
    </div>
</div>
</section>